@import "../../../index.css";

.boxStylesAddNewWorld {
  border: "solid";
  border-color: "#FD7014";
  border-width: "4";
  padding-left: "20vw";
  padding-right: "20vw";
  padding-top: "2vh";
  padding-bottom: "2vh";
  background-color: "#222831";
  border-radius: "15px";
  align-items: "center";
  cursor: "pointer";
}

.IconStylesAddNewWorld {
  padding-left: "15px";
  font-size: "30px";
  width: "50px";
}

.TextStylesAddNewWorld {
  display: "flex";
  align-items: "center";
  text-align: "center";
}
