@import "../../index.css";

.subtitlesSettingsBox {
    border: 3px solid orange;
    background-color: #565d68;
    /* rounded */
    border-radius: 10px;

    overflow:scroll;
    overflow-y:scroll;
    overflow-x:hidden;

    max-height: 65vh;
}

.subtitlesSettingsItem:hover {
    box-shadow: 20px;
    transform: scale(1.02);
}

.MuiListItemText-secondary {
    color: orange !important;
}

.color-orange {
    color: orange !important;
}

.color-white {
    color: white !important;
}