@import "../../index.css";

.ip {
  position: absolute;
  top: 5%;
  right: 5%;
}

.size-icon {
    font-size: 3vw !important;
    margin-bottom: 5px;
}

.button-color-orange {
    border: 1px solid orange !important;
    color: white !important;
}

.top-bar {
    position: absolute;
    top: 5%;
    right: 5%;

    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    display: flex;
    gap: 10px;

    flex-direction: column-reverse;
    align-items: flex-end;
}

/* .login {
    position: absolute;
    top: 5%;
    right: 10%;
}

.ip {
    position: absolute;
    top: 5%;
    right: 5%;
} */

.qr-code {
    width: 240px;

    padding: 2px;
    border: 1px solid orange;
    border-radius: 10px;
    z-index: 999999;
}

/* hover grey filter */
.qr-code:hover .qr-code-content {
  filter: brightness(40%);
}

.visibility-icon-off {
    position: absolute;
    left: 46%;
    top: 53%;
}

.icon-visibility {
  color: white;
}

.container-home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px
}

.items-home {
    margin: 1rem;
    text-align: center;
    padding: 0.1rem;
}

.home-card {
  height: 100%;
}
