body {
    margin: 0
}

.events-container {
    text-align: center;
    width: 100%;
}

.reactions-list {
    max-height: 430px;
}

.item-container {
    overflow:scroll;
    overflow-y:scroll;
    overflow-x:hidden;
    max-height: 430px;
}

.card-event {
    background-color: black;
    border-color: grey;
}

.add_button_pos {
    top: calc(100% - 20%);
    left: calc(100% - 20%);
    position: absolute;
    margin-right: 3vw;
}

.add_button {
    font-size: 1.6vw !important;
}

.rightAlignItem {
    justify-content: flex-end;
}

.MuiCardActions-root{
    padding: 0 !important;
}

.form-item {
    padding: 10px;
}

.pt-20 {
    padding-top: 20px;
}