@import "../../../index.css";

.action-button-orange {
  background-color: transparent !important;
  border: 2px solid orange !important;
}

.action-button-orange:hover {
  background-color: orange !important;
}
